In [16]:
# notebooks/stimulant_ct_exploration.ipynb

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("../data/raw/ct_stimulant_reports.csv")

df.head()
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

df_filtered = df[[
    "date",
    "patient_residence",
    "stimulant_prescription_count",
    "stimulant_rate_per_1,000_residents"
]]

df_filtered = df_filtered.rename(columns={
    "date": "report_period",
    "patient_residence": "town",
    "stimulant_prescription_count": "prescription_count",
    "stimulant_rate_per_1,000_residents": "rate_per_1000"
})

df_filtered.info()
df_filtered.head()
df_filtered.isnull().sum()


df_filtered.sort_values("rate_per_1000", ascending=False).head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197 entries, 0 to 2196
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   report_period       2197 non-null   object
 1   town                2197 non-null   object
 2   prescription_count  2197 non-null   int64
 3   rate_per_1000       2197 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 68.8+ KB

       report_period       town  prescription_count  rate_per_1000
1906  2022 Quarter 2   Eastford                 758         459.39
737   2022 Quarter 2  Westbrook                2855         422.52
1069  2022 Quarter 1   Eastford                 682         413.33
1354  2022 Quarter 1  Westbrook                2737         405.06
1974  2023 Quarter 2     Canaan                 279         258.81
343   2022 Quarter 2     Canaan                 270         249.77
1467  2023 Quarter 4     Canaan                 270         249.77
344   2022 Quarter 1     Canaan                 264         244.22
530   2022 Quarter 4     Canaan                 263         243.97
2035  2023 Quarter 1     Canaan                 263         243.97